.DS_Store
.ipynb_checkpoints/

# https://github.com/jupyterlab/jupyterlab/blob/v4.1.5/galata/test/galata/filebrowser.spec.ts#L6
# https://github.com/jupyterlab/jupyterlab/blob/v4.1.5/packages/services/src/testutils.ts#L73
# https://github.com/jupyterlab/jupyterlab/blob/v4.1.5/examples/filebrowser/src/index.ts#L330
Untitled*.ipynb
